
<main class="container">
  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.togglePost()">New Post</a></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="query">
    </li>
    <li class="dropdown form-inline" ng-init="sort='votes' ; sortName='Votes'">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Sort By {{$ctrl.sortName}}<span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a ng-click="$ctrl.sort='vote_count'; $ctrl.sortName='Votes'">Votes</a></li>
         <li><a ng-click="$ctrl.sort='date'; $ctrl.sortName='Date'">Date</a></li>
         <li><a ng-click="$ctrl.sort='title'; $ctrl.sortName='Title'">Title</a></li>
       </ul>
     </li>
  </ul>

  <div class="row">
    <div class="col-md-8" ng-if="$ctrl.postOpen">
      <post-form></post-form>
    </div>
  </div>
  <div ng-repeat="post in $ctrl.posts | filter: query | orderBy: $ctrl.sort">
    <single-post post="post"></single-post>
  </div>
</main>
