<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="media-left">
        <img class="media-object" ng-src="{{$ctrl.post.image_url}}">
        <a ui-sref="edit({id: $ctrl.post.id})" class="center">edit</a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
        {{$ctrl.post.title}}
        |
        <a><i class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.increase(post)"></i></a>
        <a><i class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.decrease(post)"></i></a>
        {{$ctrl.post.vote_count}}
      </h4>
        <div class="text-right">
          {{$ctrl.post.author}}
        </div>
        <p>
          {{$ctrl.post.body}}
        </p>
        <div>
          <span am-time-ago="$ctrl.post.created_at"></span> |
          <i class="glyphicon glyphicon-comment"></i>
          <a ng-click="$ctrl.toggleComments(post)">
            <ng-pluralize count="$ctrl.post.comments.length" when="{1: '1 Comment', other: '{} Comments'}">
            </ng-pluralize>
          </a>
        </div>
          <post-comment post="$ctrl.post" ng-if="$ctrl.commentOpen"></post-comment>
      </div>
    </div>

  </div>
</div>
